{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Search</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Additional styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container mt-5">
    <h1>Search for Manga</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <!-- Search Bar Row -->
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    {{ form.title_query.label_tag }}
                    {{ form.title_query }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.included_tag_names.label_tag }}
                    {{ form.included_tag_names }}
                </div>
                <div class="form-group">
                    {{ form.excluded_tag_names.label_tag }}
                    {{ form.excluded_tag_names }}
                </div>
                <div class="form-group">
                    {{ form.sort_by.label_tag }}
                    {{ form.sort_by }}
                </div>
                <div class="form-group">
                    {{ form.publication_demographic.label_tag }}
                    {{ form.publication_demographic }}
                </div>
                <div class="form-group">
                    {{ form.status.label_tag }}
                    {{ form.status }}
                </div>
                <div class="form-group">
                    {{ form.content_rating.label_tag }}
                    {{ form.content_rating }}
                </div>
                <div class="form-group">
                    {{ form.limit.label_tag }}
                    {{ form.limit }}
                </div>
            </div>
        </div>
        

        
        <!-- Search Button -->
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Search</button>
            </div>
        </div>
        <!-- Back to Home Button -->
        <div class="row mt-2">
            <div class="col-12">
                <a href="{% url 'home' %}" class="btn btn-secondary btn-block">Back to Home</a>
            </div>
        </div>
    </form>
</div>

<!-- Optional: Include Bootstrap JS for interactive components -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
